a {
    color: inherit;
  }
  
  .container-fluid{
    padding-top: 10px;
  }

  .ojorelist{
    list-style: url(herois/BulletP.png);
    width: 100%;
    text-align: center;
  }

.col-xl-5{
    background-image: url(img/Screenshot_1.png);
    background-size: cover;
    background-position: center;
  }

   h2{
    color: #F4CF8B;
  }

  .video-container{
    padding-top: 25px;
  }

  .btn-primary {
    background-color: #222601;
    border: none;
  }
  
  .btn-primary:hover {
    color: #222601;
    background-color: #fff;
  }
  
  .btn-outline-primary {
    border-color: #a66a21;
  }
  
  .btn-outline-primary:hover {
    background-color: #a66a21;
    border: 1px solid #a66a21;
  }
  p{
    color: #F4CF8B;
  }

  .col-xl-4 p{
    color: black;
  }

  h1 {
    font-size: 30px;
    color: #F4CF8B;
  }
  
  .cor-destaque {
    color: #F4CF8B;
  }
  
  .ouro {
    color: #f2ca52;
  }
  
  .ouro-bg {
    background-color: #f2ca52;
    color: #c4da00;
  }
  
  .container-fluid .bg-cor,
  .card .bg-cor,
  footer .bg-cor {
    background-color: #000000;
  }

  #founder{
    background-image: url(img/academy.png);
    background-size: cover;
    border-bottom: solid 3px  #F4CF8B;
  }

  #home-quote {
    border-bottom: solid 3px  #F4CF8B;
    background: url("img/mohazus.png") center top;
    background-size: cover;
  }
  
  .btn-block {
    width: 100%;
    display: block;
  }
  
  .lista-plano li {
    padding: 1rem;
  }
  
  .lista-plano li + li {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .plano-ouro li + li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  ul {
    list-style: none;
  }
  
  .box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  }
  
  .card {
    border: none;
  }
  
  @media (max-width: 767px) {
    .fixed-top {
      position: relative;
    }
  }
  
  .bg-footer {
    background-color: #d9c382;
  }
  